* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #F7F9FC;
}

#main {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to top, #F7F9FC, #b2c5f3);
}

/* NAVBAR */
.custom-navbar {
    background: white;
    padding: 15px 0;
    border-bottom: 1px solid #e2e6f3;
}

.logo {
    width: 35px;
}

.nav-link-custom {
    font-weight: 500;
    color: #344767 !important;
    transition: 0.3s ease;
}

.nav-link-custom:hover {
    color: #0d6efd !important;
}

/* HERO SECTION */
.hero-section {
    padding: 120px 20px;
}

.title {
    font-size: 48px;
    font-weight: 700;
    color: #2B3A55;
}

.subtitle {
    font-size: 18px;
    color: #41506b;
    max-width: 600px;
    margin: auto;
}

.button-group .btn {
    border-radius: 30px;
    font-size: 18px;
    padding: 10px 30px;
}

/* Button hover effects */
.btn-primary:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
}

.btn-outline-primary:hover {
    color: white !important;
    background-color: #0d6efd;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.20);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .title {
        font-size: 32px;
    }

    .subtitle {
        font-size: 16px;
    }
}
